<template>
	<button class="mybutton">这个是一个自定义组件来的{{ nub }}</button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useButtonClick } from '../../../hooks/useButton'
export default defineComponent({
	name: 'IButton',
	props: {},
	setup() {
		const { nub } = useButtonClick()
		return { nub }
	},
})
</script>

<style scoped></style>
